[flake8]
max-line-length = 120
per-file-ignores =
    app/services/report_generator_service.py: E127
    app/services/workspace_service.py: E127,E302
    app/routers/workspace.py: E127
    app/schemas/workspace.py: E501,E231
    app/db/migrations/versions/0001_initial_schema.py: F401,E501
    app/db/migrations/env.py: F401
    app/db/postgres.py: E501
    app/workers/celery_app.py: E501
    app/routers/ws.py: E501
    app/routers/webhooks.py: E501
    app/middleware/security.py: E501
